{% extends "layouts/base.html" %}

{% block content %}

        {% include 'includes/preloader.html' %}

        <!-- Hero -->
        <section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-12 bg-primary text-white">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="fw-bolder display-2">
                            VIDOK-BK
                        </h1>
                        <h2 class="lead fw-normal text-muted mb-4 px-lg-10">
                            Online Computer-Aided Drug Design Tool
                        </h2>
                        <!-- Button Modal -->
                        <div class="d-flex justify-content-center align-items-center mb-5">
                            <a href="system.html" class="btn btn-tertiary mb-3 mt-2 me-2 me-md-3 animate-up-2"><span
                                    class="fas fa-th-large me-2"></span> <span class="d-none d-md-inline">Design Now</span> <span class="d-md-none">Design Now</span></a>
                        </div>
                        <!--
                        <div class="d-flex justify-content-center flex-column mb-6 mb-lg-5">
                            <a href="https://themesberg.com" class="d-block text-center mx-auto" target="_blank">
                                <img src="static/assets/img/themesberg.svg" class="d-block mx-auto mb-3" height="25"
                                    width="25" alt="Themesberg Logo">
                            </a>
                        </div>
                        // -->
                    </div>
                </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2"><svg class="fill-white"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                    <path d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
                </svg></figure>
        </section>

        <div class="section py-0">
            <div class="container mt-n8 mt-lg-n12 z-2">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8"><img src="static/assets/img/pages/bg_dok.jpg"
                            alt="Docking Image"></div>
                </div>
            </div>
        </div>

        <section class="section section-lg">
            <div class="container">
                <div class="row justify-content-center mb-5 mb-lg-6">
                    <div class="col-6 col-md-3 text-center mb-4">
                        <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                            <i class="fas fa-pager text-tertiary"></i>
                        </div>
                        <h3 class="fw-bolder">Fully Customizable</h3>
                    </div>
                    <div class="col-6 col-md-3 text-center mb-4">
                        <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                            <span class="fas fa-pager text-tertiary"></span>
                        </div>
                        <h3 class="fw-bolder">Accurately Docking</h3>
                        
                    </div>
                    <div class="col-6 col-md-3 text-center">
                        <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                            <span class="fab fa-sass text-tertiary"></span>
                        </div>
                        <h3 class="fw-bolder">AI-Powered</h3>
                        
                    </div>
                    
                </div>
                <div class="row justify-content-between align-items-center mb-5 mb-lg-7">
                    <div class="col-12 col-lg-5 mb-5 mb-lg-0 order-lg-2">
                        <h2 class="h1">Fully Customizable</h2>
                        <p class="mb-4 lead fw-bold">Create any compounds in your mind</p>
                        <p class="mb-4">Our system offers almost necessary tools for create any compounds from scratch.</p>
                        <!--
                        <a href="https://docs.appseed.us/products/flask-apps/pixel-lite" target="_blank"
                            class="btn btn-outline-primary"><span class="fas fa-book me-2"></span> Product Docs</a>
                        -->
                    </div>
                    <div class="col-12 col-lg-6 order-lg-1">
                        <img src="static/assets/img/illustrations/customizable.svg" alt="Customizable">
                    </div>
                </div>
                <div class="row justify-content-between align-items-center mb-5 mb-lg-7">
                    <div class="col-lg-5 mb-5 mb-lg-0">
                        <h2 class="h1 d-flex align-items-center">Accurately Docking
                        </h2>
                        <p class="mb-4 lead fw-bold">Integrated modern docking tools</p>
                        <p class="mb-4">Our system incoperates a well-known docking tool named AutoDock Vina. With this tool, our system can evaluate the designed ligands efficiently.</p>
                        <!--
                        <a href="https://appseed.us/apps/flask-apps/flask-pixel-uikit-pro"
                            target="_blank" class="btn btn-primary mt-2 animate-up-2">
                            <span class="fas fa-th-large me-2"></span>
                            See Premium Version
                        </a>
                        -->
                    </div>
                    <div class="col-lg-6">
                        <img src="static/assets/img/illustrations/accurate.svg" alt="Accurate">
                    </div>
                </div>
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-5 order-lg-2 mb-5 mb-lg-0">
                        <h2 class="h1 d-flex align-items-center">AI-Powered
                        </h2>
                        <p class="mb-4 lead fw-bold">Intelligence Decision Supprot System</p>
                        <p class="mb-4">Our AI-powered assistant will help you design highly effective compounds regard you are an expert or not.</p>
                        <a href="system.html" target="_blank"
                            class="btn btn-tertiary animate-up-2"><span class="fas fa-chart-line me-2"></span> Explore
                            now</a>
                    </div>
                    <div class="col-12 col-lg-6 order-lg-1">
                        <img src="static/assets/img/illustrations/ai.svg" alt="Artificial Intelligence">
                    </div>
                </div>
            </div>
        </section>
        

    </main>

    {% include 'includes/footer.html' %}

{% endblock content %}
